<a href="https://colab.research.google.com/github/anikch/NLP-basic-handson/blob/main/Vectorization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
import nltk
import re
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
import numpy as np
#nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

1. Write a program to input three sentences from user and creates the corpus
Example: Let’s say these 3 are your 
strings:S1=” India won the match”
S2=” England won the cricket match”
S3=” Australia won the final match”
Then Corpus (list of union of all words from all strings) is: [India, England, Australia, won, the, match, cricket, final]

Create a function named “MakeCorpus” which will take list of string as an input and will return a list having union of all words. Save this function in a python file named “Corpus”. This can be used for future applications

In [35]:
# Creating Corpus Function
def MakeCorpus(s1, s2, s3):
  s1= re.sub(r'[^a-zA-Z0-9 _-]','', s1.lower())
  s2= re.sub(r'[^a-zA-Z0-9 _-]','', s2.lower())
  s3= re.sub(r'[^a-zA-Z0-9 _-]','', s3.lower())
  s1_tok= set(nltk.word_tokenize(s1))
  s2_tok= set(nltk.word_tokenize(s2))
  s3_tok= set(nltk.word_tokenize(s3))
  s_tok= set.union(s1_tok, s2_tok, s3_tok)
  s_tok= [i for i in s_tok if i not in string.punctuation]
  return s_tok

In [36]:
# Creating Corpus from user input
s1= input('Enter 1st Sentence: ')
s2= input('Enter 2nd Sentence: ')
s3= input('Enter 3rd Sentence: ')
MakeCorpus(s1, s2, s3)

Enter 1st Sentence: India won the match
Enter 2nd Sentence:  England won the cricket match
Enter 3rd Sentence:  Australia won the final match

['england', 'cricket', 'final', 'india', 'the', 'australia', 'match', 'won']

2. Write a program to input three sentences from user and convert them into vectors.    Use presence and absence of words to build the vectors.

In [41]:
# Creating function to vectorize based on presence/ absence
def PresenceAbsenceVectorization(s1, s2, s3):
  corpus= MakeCorpus(s1, s2, s3)
  s1_tok= nltk.word_tokenize(s1.lower())
  s2_tok= nltk.word_tokenize(s2.lower())
  s3_tok= nltk.word_tokenize(s3.lower())
  s1_vec= [1 if tok in s1_tok else 0 for tok in corpus]
  s2_vec= [1 if tok in s2_tok else 0 for tok in corpus]
  s3_vec= [1 if tok in s3_tok else 0 for tok in corpus]
  return (s1_vec, s2_vec, s3_vec, corpus)

In [42]:
# Creating vectors for user inputs
s1= input('Enter 1st Sentence: ')
s2= input('Enter 2nd Sentence: ')
s3= input('Enter 3rd Sentence: ')
(s1_vec, s2_vec, s3_vec, corpus)= PresenceAbsenceVectorization(s1, s2, s3)

print('Tokens:', corpus)
print('Vector for s1:', s1_vec)
print('Vector for s2:', s2_vec)
print('Vector for s3:', s3_vec)

Enter 1st Sentence: India won the match
Enter 2nd Sentence: England won the cricket match
Enter 3rd Sentence: Australia won the final match
Tokens: ['england', 'cricket', 'final', 'india', 'the', 'australia', 'match', 'won']
Vector for s1: [0, 0, 0, 1, 1, 0, 1, 1]
Vector for s2: [1, 1, 0, 0, 1, 0, 1, 1]
Vector for s3: [0, 0, 1, 0, 1, 1, 1, 1]

3. Write a program to enter 3 strings from a user and vectorise them on basis of their counts.

In [37]:
# Creating function to vectorize based on token counts
def CountVectorization(s1, s2, s3):
  corpus= MakeCorpus(s1, s2, s3)
  s1_tok= nltk.word_tokenize(s1.lower())
  s2_tok= nltk.word_tokenize(s2.lower())
  s3_tok= nltk.word_tokenize(s3.lower())
  s1_vec= [s1_tok.count(tok) for tok in corpus]
  s2_vec= [s2_tok.count(tok) for tok in corpus]
  s3_vec= [s3_tok.count(tok) for tok in corpus]
  return (s1_vec, s2_vec, s3_vec, corpus)

In [40]:
# Creating vectors for user inputs
s1= input('Enter 1st Sentence: ')
s2= input('Enter 2nd Sentence: ')
s3= input('Enter 3rd Sentence: ')
(s1_vec, s2_vec, s3_vec, corpus)= CountVectorization(s1, s2, s3)

print('Tokens:', corpus)
print('Vector for s1:', s1_vec)
print('Vector for s2:', s2_vec)
print('Vector for s3:', s3_vec)

Enter 1st Sentence: A lives with B. A plays with C.
Enter 2nd Sentence:  B lives with C. B plays with D
Enter 3rd Sentence: C lives with D. C plays with A
Tokens: ['plays', 'd', 'b', 'a', 'with', 'lives', 'c']
Vector for s1: [1, 0, 0, 2, 2, 1, 1]
Vector for s2: [1, 1, 2, 0, 2, 1, 0]
Vector for s3: [1, 0, 0, 1, 2, 1, 2]

4. Write a program to input 3 strings but vectorise them using TF-IDF (Term Frequency and Inverse Document Frequency) and print the strings along with the vectors.

In [66]:
# Creating function for TF-IDF vectorization

def TFIDFVectorization(s1, s2, s3):
  corpus= [s1, s2, s3]
  tfidf= TfidfVectorizer()
  tfidfvec= tfidf.fit_transform(corpus)
  df_tfidfvect= pd.DataFrame(tfidfvec.toarray(), index = ['s1','s2', 's3'], columns= tfidf.get_feature_names())
  return df_tfidfvect

In [67]:
# User Inputs
s1= input('Enter 1st Sentence: ')
s2= input('Enter 2nd Sentence: ')
s3= input('Enter 3rd Sentence: ')

Enter 1st Sentence: India won the match
Enter 2nd Sentence: England won the cricket match
Enter 3rd Sentence: Australia won the final match

In [68]:
# Tf-Idf vectorization
df_tfidfvect= TFIDFVectorization(s1, s2, s3)

df_tfidfvect

    australia   cricket   england  ...     match       the       won
s1   0.000000  0.000000  0.000000  ...  0.412859  0.412859  0.412859
s2   0.000000  0.572929  0.572929  ...  0.338381  0.338381  0.338381
s3   0.572929  0.000000  0.000000  ...  0.338381  0.338381  0.338381

[3 rows x 8 columns]